@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}
.font-type{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.bg-background{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.nav-item a{
    margin: 0 20px;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.015em;
}
.header-searchbar a i{
    color: #232323;
}
.swiper-slide img{
    position: relative;
   
}
.img-1{
    background-image: url(../images/homepage-slider-img-1.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img-2{
    background-image: url(../images/homepage-slider-img-2.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-3{
    background-image: url(../images/homepage-slider-img-3.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide-1::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
}
.swiper-content{
    z-index: 999;
}
.swiper-content span{
    font-family: "Roboto", sans-serif;
    color: #ededed;
}
.swiper-content h1{
    font-family: "Montserrat", sans-serif;
    font-size:70px;
}
.btn-background{
    background-color: white;
    color: black !important;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    transition: all 0.3s linear;
    border: 1px solid white !important;
}
.btn-background:hover{
   color: white !important;
}
.about{
    padding: 130px 0px;
}
.about-bg-image{
    background-image: url(../images/about-banner.jpg);
    height: 400px;
    position: relative !important;
    background-size: cover !important;
    background-position: center top!important;
}
.opacity-meduim{
   height: 100%;
   opacity: 0.75;
   background-color: #1c1c1c;
}
.about-span{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.about-h1{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
}
.p-130{
    padding: 130px 0px;
}
.about-info{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
.about-h6{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 30px;
}
.about-p{
    font-family: "Roboto", sans-serif;
}
.btn-background-dark{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    transition: all 0.3s linear;
    border: 1px solid black !important;
}
.btn-background-dark:hover{
    color: black;
}
.about-swiper{
    background-image: url(../images/about-swiper.jpg);
}
.about-font{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}
.overlay-content{
    /* opacity: 0; */
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
}
.icon-social-small{
    font-size: 14px;
    padding: 12%;
    position: relative;
    background: #1c1c1c;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.icon-social-small:hover{
   opacity: .8;
   bottom: 0;
}
.icon-social-small i:hover{
    color: #ff214f !important;
    cursor: pointer;
}
.team-image span{
    font-size: 12px;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
}
.sprate-line-pink{
    width: 100%;
    height: 1px;
    margin-top: 11%;
    margin-bottom: 11%;
    background-color: #ff214f;
}
.team-image-name{
    font-weight: 500;
    color: #232323;
    font-size: 12px;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
}
.name-t{
    color: #939393;
    font-size: 11px;
    line-height: 14px;
}
.footer{
    background-color: #1c1c1c;
}
.footer-h6{
    color: #626262;
    font-size: 25px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
}
.footer-span{
    font-size: 14px;
    color: #626262;
    font-family: "Roboto", sans-serif;
}
.text-extra{
    font-size: 11px;
    line-height: 14px;
    color: #626262;
    font-family: "Roboto", sans-serif;
}
.text-extra li:hover{
    color: #ff214f;
    cursor: pointer;
}
.border-color-medium-dark-gray {
    border-top: 1px solid #363636 !important;
}
.text-small{
    font-size: 12px;
    line-height: 20px;
    color: #626262;
    font-family: "Roboto", sans-serif;
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    background-color: #626262;
    color: white;
}
.scroll-top i{
    font-size: 25px;
}
.scroll-top:hover{
    background-color: #000000;
    color: white;
}
.services-bg-image{
    background-image: url(../images/services-bg.jpg);
    height: 400px;
    position: relative !important;
    background-size: cover !important;
    background-position: center top!important;
}
.services-hero-h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.services-section{
    position: relative;
}

.hover-content{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    
    color: white;
}
.services-section:hover:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff214f;


}
.services-section{
    transition: .3s all ease-in;
    position: relative;
}
.services-section p{
    display: none;
}
.services-section:hover p{
    display: block;
    transform: rotateX(180deg);
}
.services-section:hover{
    transform: rotateX(0.5turn);
}
.text-outside-line-full::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 30%;
    display: block;
    border-bottom: 1px solid;
    right: 60%;
    margin-right: 25px;
    opacity: .15;
}
.text-outside-line-full::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 30%;
    display: block;
    border-bottom: 1px solid;
    left: 60%;
    margin-left: 25px;
    opacity: .15;
}
.accordian-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #6f6f6f;
}
.accordion-style3 .panel {
    background-color: transparent;
    border: none;
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
}
.accordion-style3 .panel .panel-heading {
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 18px 28px 19px;
    position: relative;
}
.panel .panel-heading {
    display: block;
}
a{
    text-decoration: none;
}
.text-deep-pink{
    color: #ff214f;
    font-family: 'Montserrat', sans-serif;
}
.accordian-headline{
    font-family: "Roboto", sans-serif;
}
.panel-title > i{
    position: absolute;
    top: 24px;
}
.accordion-style3 .panel-title > i {
    font-size: 18px;
    margin: 0;
    right: 28px;
}
.collapse:not(.show) {
    display: none;
}
.accordion-style3 .panel-body {
    padding: 35px 28px 25px;
    color: #6f6f6f;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.contact-bg-image{
    background-image: url(../images/contact-bg-image.jpg);
    height: 400px;
    position: relative !important;
    background-size: cover !important;
    background-position: center top!important;
}
.contact-text{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.contact h2{
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}
.btn.btn-transparent-dark-gray {
    background: transparent;
    border-color: #232323;
    color: #232323;
}
.btn.btn-large {
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
}
.btn {
    display: inline-block;
    border: 2px solid transparent;
    color: white;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    text-transform: uppercase;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
}
.btn.btn-transparent-dark-gray:hover, .btn.btn-transparent-dark-gray:focus {
    background: #232323;
    border-color: #232323;
    color: #ffffff;
}
.contact-section h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 40px;
}
.contact-section p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.form-results {
    clear: both;
    margin: 0 0 15px;
    text-align: center;
    padding: 10px 0;
    display: none;
    font-size: 14px;
}
.big-input, .big-textarea, .big-select select  {
    padding: 18px 25px;
    font-size: 14px;
    border-radius: 0;
}
input, textarea{
    border: 1px solid #d1d1d1;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 20px 0;
    max-width: 100%;
    resize: none;
    color: inherit;
}
.select-style {
    width: 100%;
    overflow: hidden;
    background: url(../images/select-arrow.png) no-repeat 97% 50%;
    border: 1px solid #d1d1d1;
    margin-bottom: 20px;
}
.select-style select {
    width: 100%;
    border: none;
    box-shadow: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}
.bg-light-gray {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}
.large-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #232323;
}
.large-icon i{
    font-size: 24px;
}
.social-icon-style-4 :hover {
    color: #fff;
    transition: all 0.3s linear;
}
.facebook:hover{
  background-color: #3b5998;
}
.twitter:hover{
    background-color: #00aced;
}
.google:hover{
    background-color: #dc4a38;
}
.dribbble:hover{
    background-color: #ea4c89;
}
.linkedin:hover{
    background-color:#007bb6;
}
.border-all {
    border: 1px solid #ededed;
}
.blog-text{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
}
.blog-info{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}
.border-color-extra-light-gray {
    border-color: #ededed !important;
}
.padding-15px-all {
    padding: 15px;
}
.likes i:hover{
    color: #ff214f;
    cursor: pointer;

}





