

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.h-250{
  height: 250px !important;
  background-color: transparent !important;
}
.w-55{
  width: 60%;
}
  